/*******************
*** toutes pages ***
*******************/

/*** menu top ***/

#toolbox li{ background-color: #E81617}
#toolbox li:hover{background-color: #c01111;}
#toolbox li.first { background-color: #ec5e60;}
#toolbox li.first:hover{background-color: #DD5156 ;}

/*** menu produits ***/
		

/** pictos menu **/
#nav-produits{padding-left: 380px;}

#nav-produits ul {padding-right: 0;}
#nav-produits ul li {width:100px;}
#nav-produits .sous-menu {left:18px;}

#nav-produits ul li.item-146{background-position: 2px -404px;}
#nav-produits ul li.item-151 {background-position: 1px -608px;}
#nav-produits ul li.item-156{background-position: 3px -708px;}
#nav-produits ul li.item-264{background-position: -1px -896px;}


#nav-produits ul li:hover{background-position: -3px -302px;}
#nav-produits ul li.item-146:hover{background-position: -12px -100px;}
#nav-produits ul li.item-151:hover{background-position: -8px 0;}
#nav-produits ul li.item-156:hover{background-position: -12px -202px;}
#nav-produits ul li.item-264:hover{background-position: -12px -806px;}


/** flèches menu **/
#nav-produits ul li.item-141 .fleche {background-position: -140px 91px;	left: 182px;}
#nav-produits ul li.item-146 .fleche {left: 296px;}
#nav-produits ul li.item-151 .fleche {background-position: -280px 91px;left: 412px;}
#nav-produits ul li.item-156 .fleche {background-position: -410px 91px;left: 520px;}
#nav-produits ul li.item-264 .fleche {background-position: -518px 91px;left: 610px;}
		


/** arrière plan du sous-menu **/
		
		/***** auto *****/

		#nav-produits .item-141 .sous-menu li:hover > a, #nav-produits .item-141 .sous-menu li.default > a{background-color: white; color:#913687;}

		/***** deux roues *****/
		
		#nav-produits .item-146 .sous-menu{ border-color: #18AEE0;}

		#nav-produits .item-146 > .sous-menu > li:hover > a, #nav-produits .item-146 .sous-menu li.default > a, #nav-produits .item-146 .sous-menu > li:hover > span.separator{background-color: white; color:#18AEE0;}
	
		/***** habitation *****/
		#nav-produits .item-151 .sous-menu{  border-color: #F09E1D;}
		 #nav-produits .item-151 .sous-menu li:hover > a, #nav-produits .item-151 .sous-menu li.default > a{background-color: white; color:#F09E1D;}

		/***** famille santé *****/
		#nav-produits .item-156 .sous-menu{   border-color: #C4C037;}
		#nav-produits .item-156 .sous-menu li:hover > a, #nav-produits .item-156 .sous-menu li.default > a{background-color: white; color:#C4C037;}

		#nav-produits  .item-400 .sous-menu{background-image: url("/assets/sous-menu/image_hospitalisation-sous-menu.jpg")}
    		/*#nav-produits .item-400 .sous-menu li{background-color: #C4C037;}*/
    	#nav-produits .item-400 .sous-menu li:hover > a, #nav-produits .item-400 .sous-menu li.default > a{background-color: white; color:#C4C037;}

		/***** autres *****/
		#nav-produits .item-264 .sous-menu{  border-color: #4f534f;}
		#nav-produits .item-264 .sous-menu li:hover > a, #nav-produits .item-264 .sous-menu li.default > a{background-color: white; color: #4f534f;}		

		/**** sous-menu level-2 ****/
		
		#nav-produits .sous-menu.level-2, #nav-produits .sous-menu.level-3{ background-color: white;}
		#nav-produits .sous-menu.level-2 li{ background-color: transparent;}
	
		/* auto */
		#nav-produits  .item-141 .sous-menu.level-2{  background-image: url("/assets/sous-menu/auto.jpg");  border-color: #913687;}
		#nav-produits .item-143 .sous-menu.level-2 {background-image: url("/assets/sous-menu/auto-prestige.jpg")}
		#nav-produits .item-413 .sous-menu.level-2 {background-image: url("/assets/sous-menu/auto_pro.jpg")}
		#nav-produits .item-144 .sous-menu.level-2 {background-image: url("/assets/sous-menu/vsp.jpg")}
		#nav-produits .item-145 .sous-menu.level-2 {background-image: url("/assets/sous-menu/camping-car.jpg")}
	
	  /* deux roues */
		#nav-produits  .item-146 .sous-menu.level-2{  background-image: url("/assets/sous-menu/moto.jpg");  border-color: #18AEE0;}
		#nav-produits  .item-149 .sous-menu.level-2 {background-image: url("/assets/sous-menu/cyclo.jpg")}
		#nav-produits .item-150 .sous-menu.level-2 {background-image: url("/assets/sous-menu/quad.jpg")}
	
		/* habitation */
		#nav-produits  .item-151 .sous-menu.level-2{  background-image: url("/assets/sous-menu/habitation.jpg"); border-color:#F09E1D;}

		/* famille-sante */
		#nav-produits  .item-157 .sous-menu.level-2{  background-image: url("/assets/sous-menu/sante-famille.jpg");  border-color: #C4C037;}
		#nav-produits  .item-158 .sous-menu.level-2 {background-image: url("/assets/sous-menu/chien-chat.jpg")}
		#nav-produits  .item-159 .sous-menu.level-2 {background-image: url("/assets/sous-menu/assurance-scolaire.jpg")}
		#nav-produits  .item-400 .sous-menu.level-2 {background-image: url("/assets/sous-menu/image_hospitalisation-sous-menu.jpg")}
		
		/* autres */
		#nav-produits  .item-265 .sous-menu.level-2{  background-image: url("/assets/sous-menu/assurance-pro.jpg");  border-color: #4f534f;}
		#nav-produits  .item-379 .sous-menu.level-2, #nav-produits  .item-380 .sous-menu.level-2{  background-image: url("/assets/sous-menu/credit-immo.jpg");  border-color: #4f534f;}
		#nav-produits  .item-390 .sous-menu.level-2, #nav-produits  .item-393 .sous-menu.level-2{background-image: url("/assets/sous-menu/assurance-emprunteur.jpg");  border-color: #4f534f;}
		


	#nav-produits .sous-menu.level-3 { 
		
		background-image:none; 
		background-color:transparent; 
		position:static;
	}
	
	#nav-produits .sous-menu.level-3 li{ background-color:none;}
 
 
 	#nav-produits .item-141 .sous-menu.level-2 > li a.devis {background-color:#913687}
 	#nav-produits .item-141 .sous-menu.level-2 > li a.devis:hover {background-color:#7F3476}
	
	/* deux roues */
	#nav-produits  .item-146  .sous-menu.level-2 > li a.devis {background-color: #18AEE0;}
	#nav-produits  .item-146  .sous-menu.level-2 > li a.devis:hover{background-color:#239CC4;}
	
	/* habitation */
	#nav-produits  .item-151  .sous-menu.level-2 > li a.devis {background-color: #F09E1D;}
	#nav-produits  .item-151  .sous-menu.level-2 > li a.devis:hover {background-color: #E09018;}
	
	/* habitation */
	#nav-produits  .item-156  .sous-menu.level-2 > li a.devis{background-color: #C4C037;}
	#nav-produits  .item-156  .sous-menu.level-2 > li a.devis:hover {background-color: #B7B338;}

/*******************
******* home *******
*******************/

.courtier h1{    color: #384967;  z-index: 5;  font-weight: 700; font-size:18px; /*left: auto;*/; left: 48px; top: 38px;#top: 88px;}
.courtier h1:before{display: none;}
.courtier footer{top:0;}

/*** slider ***/	
.courtier .banner .dots li {border-color: #dedede;background: #dedede}
.courtier .banner .dots li.active {	background: #fff;}
.banner li div { top: 36px;}

/*** blocs home ***/
#pratique .bloc-2.espace p{background: transparent url('/assets/picto-tool-box-gauche.png') no-repeat;}
#pratique .bloc-2.partenaire p{background: transparent url('/assets/picto-tool-box-droite.png') no-repeat;}
#pratique .bloc-2.partenaire p.tel{position:relative; top:-32px; padding:0; left:36px;}
#pratique .bloc-2.partenaire p.tel, aside .bloc-1 div.decale p.tel {    background-image: none;    color: #EA5A3E;  font-family: 'Roboto',arial,sans-serif; font-size: 23px; font-weight: bold;  margin-bottom: 9px; padding-left: 6px;  padding-right: 6px; text-align: center;}


/*******************
** pages produits **
*******************/

aside{ float:right;margin: 18px 44px 0 50px;}
aside p, aside li{ font-size: 13px; font-weight:300;}
aside .bloc-1{position:relative;background: white;width:247px; padding: 6px ; margin-left: 23px; margin-right: 18px; margin-top:40px;margin-bottom: 60px;border-bottom: solid 6px #e2dce0;}
aside .bloc-1 ul{list-style-type:none; padding:0;}
aside .bloc-1 ul li {border-bottom: solid 1px #666; padding: 9px 2px;}
aside .bloc-1 ul li.last {border-bottom: none; }
aside  p.decale, aside div.decale p {padding-left: 100px;    padding-right: 24px; background-image:  url('/assets/sprite-aside.png'); background-repeat: no-repeat; font-family: 'Roboto condensed', arial, sans-serif; }
aside p.decale.puce-1{background-position: 0 -489px; }
aside p.decale.puce-2{background-position: 0 -218px; }
aside p.decale.puce-4{background-position: 0 -108px; }
.no-cols aside p.decale{padding-right: 0;}


/** onglet video  **/
  .showContent > p, .showContent > h3, .showContent > ul {margin-left: 20px; margin-right:80px;}
#video{width:936px;}
#video .titre {margin-left: 40px; margin-top:}
#video .titre img {margin-right: 20px;}
#video .titre strong {display: block; font-size: 24px; font-family: 'Roboto condensed', arial, sans-serif; padding-top:10px }

.auto #video .titre strong {color: #913687 }
.deux-roues #video .titre strong {color: #1382B6}
.famille #video .titre strong {color: #898428 }
.habitation #video .titre strong {color: #E28118 }
#video .titre:after{content:'';display: block;clear:left;}
#video iframe{margin:auto;display:block;}
#video .bloc-1{ background:white; width:92%; margin-top: 40px; margin-left:40px}
#video .bloc-1 h3{ position:relative; top: -10px; margin-left:-10px}
#video li{display:inline-block; width:18.3%; margin:0.8% 1% 0.8% 0; height:80px; position:relative;}
#video li a{display:block;text-transform:uppercase;  font-size:13px ;line-height: 1.22em; position:absolute;background:#939393 url(/assets/picto-play.png) no-repeat 128px 4px; top:0 ; left:0; right:0; bottom:0;padding-top:12%;}
#video li a, #video li a span {font-family: 'Roboto condensed', arial, sans-serif; text-align:center;  color:white; font-weight: bold; text-decoration:none;}
#video li a.auto:hover{background:#93358B;}
#video li a.deux-roues:hover{background:#18AEE0;}
#video li a.habitation:hover{background:#F09E1D;}
#video li a.famille:hover{background:#C4C037;}
#video li a span{display:block; font-size:22px ;}


/** modifs nelles pages produits **/

.full .accroche {margin-top: 24px ; margin-bottom: 24px ; padding:12px 12px 36px; padding-left: 134px; background: #f3f3f3 url(/assets/partenaire.png) no-repeat 24px 12px; }
.accroche  img{margin: 18px; margin-top: 24x; }
.accroche h2{font-weight: bold; font-size: 18px; color: #666; line-height:1em;}
.full > h2, .produit #video h3 {display:inline-block; height: 36px; padding:0 12px; line-height: 36px; background : #384967; color:white; position: relative;  top:0;text-align:center; font-size: 18px; font-weight: bold; margin-top:0; margin-bottom:0;}
.solutions{margin-top:0; padding: 12px;padding-left: 24px; z-index:26;background: #f3f3f3;position:relative; }

.autofirst h1, .credit h1 {color : #4f534f;} 
.autofirst h1:before, .credit h1:before {background-color : #4f534f;} 
/*.autofirst aside, .autofirst .left {background :#e6ede6;}*/
.autofirst aside  .decale.puce-1{background-position: -10px -479px; }
.autofirst aside  .decale.puce-2{background-position: -10px -212px; }
.autofirst aside  .decale.puce-3{background-position: -18px -598px; }
.autofirst aside .decale.puce-4{background-position: -18px  -712px; }
.credit aside{margin-top: 80px;position:relative;padding-top: 40px; height:200px;}

.credit aside h2{width:210px; top: -40px;left:0;font-family:'Roboto condensed', arial, sans-serif;font-weight:bold; height:40px;text-align:center;}
.credit aside .bloc-4{vertical-align:middle; margin-left: 56px; width: 250px;text-align:center; border-radius: 2px; height:57px; background: white url('/assets/sprite_credit-2.png') no-repeat  left -6px;box-shadow: #666 0 0 12px;padding-top:92px; color:#333; font-size: 16px;font-family: 'Roboto condensed', arial, sans-serif;}
.credit aside .adresse{background-position:  -50px -6px; }
.credit aside .tel{background-position:  96px -6px; }
.credit aside .email{background-position:  -220px -6px; }
.credit aside .agences{background-position:  -61px -154px; }
.credit aside .email a{color:#333; font-size: 16px;font-family: 'Roboto condensed', arial, sans-serif;}
.credit aside .bloc-4.first{margin-left:30px;}
.credit aside .appli{background: #eee url('/assets/application-mobile.png') no-repeat 4px 60px ;padding-top: 8px;height:142px;}
.credit aside .appli a{ display:block; width : 100px;margin-left: 102px;}
.credit .bloc-2 p{color:#333;}
.credit .bloc-2 strong{display:block; color: #eb6608; font-weight: bold; font-size:24px; font-family: 'Roboto condensed', arial, sans-serif;margin-bottom:8px; line-height: 1.5em;}
}
.credit .full h2 {width:180px;}
.credit .accroche{background: #f3f3f3 url(/assets/sprite_credit-2.png) no-repeat -388px -154px;    padding-bottom: 20px;}
.credit .accroche + h2{ width: 350px;}
.credit .solutions  h3{font-size: 24px; line-height: 1em; margin: 12px auto 0; font-weight:bold;}
.credit .solutions  h3 strong{display:block; color:#94c11e;}
.credit .solutions p{font-size: 16px; padding:14px 28px; padding-bottom: 0;line-height:1.1em;margin:0;  }
.credit .bloc-2{width:420px; margin: 0 8px ; position:relative;height:100%; text-align:center; border: solid 1px #cecece; }
.credit .bloc-2 img{margin: 1.4% auto;}
.credit .bloc-1 h3 {font-size: 22px;padding: 38px 74px; padding-right:0; width: 190px; background: transparent no-repeat url(/assets/en-savoir-plus.png);}
.credit .bloc-1{text-align:center; }
.credit .bloc-1 p{padding:0}
.simulateurs li{liste-style-type:none; display:inline-block;width: 28%; height: 70px; vertical-align: middle; }
.simulateurs li a{font-family: 'Roboto condensed', arial, sans-serif; font-size: 16px; color:#333; display: block; padding: 10px 0; padding-left:70px;background: transparent url(/assets/sprite_credit.png) no-repeat -450px 12px}
.simulateurs li a:hover{ color:#eb6608;background-position: -449px -76px}

/* page assurance emprunteur */
.assurcredit aside .bloc-4 {vertical-align:middle; text-align:center; height:57px !important; background: white url('/assets/sprite-contact.png') no-repeat  left -6px; padding-top:72px !important; margin-left:0; color:#333; font-size: 16px;font-family: 'Roboto condensed', arial, sans-serif; font-weight:700}
.assurcredit aside .adresse{background-position:  80px -3px; }
.assurcredit aside .tel{background-position:  -140px 0px; }
.assurcredit aside .email{background-position:  -380px -6px; }
.assurcredit aside .horaire{background-position:  -605px 0px; }
.assurcredit aside .bloc-4 a{font-size:15px;}
.assurcredit .solutions .bloc-3{height:248px; text-align:center; margin-left:45px; margin-top:65px; padding-top:20px;}
.solutions .bloc-3.assurcredit a span{color: #fff; display: block; font-size: 22px;}

.assurcredit .solutions .bloc-1{background:#FFF; padding: 4%; width: auto;}

/* boite lien */

.autofirst .solutions .infos h3{padding-top: 36px; background-image:none;}
.autofirst .solutions .infos p {width: 166px; margin:auto; }
.solutions  .infos a, .solutions  .bloc-2 a, .solutions .bloc-3.assurcredit a {display : block; padding: 8px 12px;width: 142px; margin-left: 21%; color: white; background:  #4f534f url(/assets/sous-menu/sousmenu_site-maxanceV2_10.png) no-repeat 126px center ; margin-top: 18px; font-family:'Roboto condensed', arial, sans-serif; text-align:left ;}
.credit .solutions .bloc-2 a {background-color:#eb6608; padding: 4px 12px; padding-right:50px; margin: 12px auto 18px  ; background-position: 165px center;}
.credit .solutions .taux a{background-color:#333;padding: 4px 12px; padding-right: 80px; width: 108px; margin-bottom: 24px;}
.solutions .infos a:hover{text-decoration:none; background-color:#353A35; }
.credit .solutions .infos a:hover{background-color: #8BAD2E;}

.solutions .bloc-3.assurcredit a {background-position: 192px center; margin-left: 18px; padding: 2px 30px 5px 5px; text-align: center; width: 200px;}

/* boites visibles au hover base - sans js */ 

.solutions .bloc-3{position:relative; width : 286px;  height:370px; border-bottom:solid 4px #e6dbdf; margin-right:12px; display:inline-block; background: white; #display:block; #float: left; vertical-align:top;margin-bottom: 24px;}
.autofirst .details{position: relative;  background:white; border:none;z-index:30;padding: 18px; font-size: 12px;  }
.autofirst .solutions .infos{ background-color: transparent; border-color:transparent;}
.autofirst .solutions h3{text-align:center; font-family: 'Roboto condensed', arial, sans-serif; font-weight: normal; font-size: 22px;line-height: 1.2em; padding-top:110px; background: transparent url(/assets/sprite-assu-pro.png) no-repeat;}

.autofirst  .vehicules h3{background-position: 85px -25px;}
.autofirst  .multirisque h3 {background-position: -171px -25px;}
.autofirst  .dirigeant h3 {background-position: -667px -25px;}
.autofirst  .decennale h3 {background-position: -879px -25px;}
.autofirst  .iobsp h3 {background-position: -422px -25px;}



/* popup */
.white-popup.voeux {
    max-width: 600px;
    padding: 0 40px 0 0;
}

.white-popup.voeux .fermer {
    display: none;
}

.mfp-close-btn-in .white-popup .mfp-close {
    color: #fff !important;
}

.mfp-bg {
    background: #fff !important;
}

/* affichage avec js actif */
.js .autofirst .solutions .bloc-3{height:248px;} 
.js .autofirst .solutions .plus {display:table-cell; z-index: 31;}
.js .autofirst .details{position: absolute;overflow:hidden; top: 226px;  width: 320px; padding-top:0; padding-bottom: 0; left: -40px; opacity:0; height:0; transition: opacity 0.4s ease, height 0.4s ease,padding 0.4s ease; border: solid 4px #4f534f;}
.autofirst  .solutions .plus{border-radius:50%;margin:auto;text-align:center;     border: 1px solid #868686; color:#868686;   font-size: 26px; height: 25px; line-height: 22px; width: 25px; cursor:pointer;   display:none; vertical-align:middle;  position:absolute; top: 203px;left:130px; }
.autofirst  .solutions .plus:hover {color: #444; border-color:#444;}

.autofirst .shover h3{padding-bottom: 80px;}
.autofirst .shover .details{z-index: 30; opacity: 1; height: auto; padding:18px; }



/** fin modifs nelles pages produits **/


/*******************
***** proximeo *****
*******************/

#corps {    margin-left: 169px;   margin-top: 36px;}
#corps div#workWindow{ border-left:solid 6px #e81617; width:720px;}
.prospect #corps,.prospect .item-page{margin-left:90px}
.prospect .item-page{margin-right:90px}
.prospect .item-page p{line-height:1.4}
.validation div#workWindow{display:none;}
table td { font-family: 'Roboto', arial, sans-serif;}
div.menuTemplate{top:64px; padding-left: 0;    display: block; float:left;}
td.libelle {padding-left:0;}
.prospect center {width: 80%; margin-top: 12px;}
div.buttonMiddle { background:#C01111; border-radius:3px;}
div.buttonMiddle:hover{background-color: #E81617 }
td.buttonLeft,td.buttonRight{background-image:none;	}
#telephoneFielSet input { width: 176px;}
#corps table {    border-collapse: collapse;}
.libelle{#width: 179px;}

/*******************
** garages agréés **
*******************/
.avantagesgarages {list-style-type:none;padding-left: 0;}
.avantagesgarages li { background: url("/assets/sprite-avantagesgarages.png") no-repeat; float: left; font-weight: 700; line-height: 1.2em; padding-right: 5px; padding-top: 60px; text-align: center; width: 24%;margin:20px 0;}
.avantagesgarages li#frais { background-position:37px 0;}
.avantagesgarages li#distance { background-position:-243px 0;}
.avantagesgarages li#reparation { background-position:-98px 0;}
.avantagesgarages li#gardiennage { background-position:-390px 0;}


